:root {
    --brancoAbsoluto: #FFFFFF;
    --brancoAmeno: #FAFAFA;
    --pretoAbsoluto: #101010;
    --pretoAmeno: #171819;
    --vermelhoAbsoluto: #ED145B;
    --vermelhoAmeno: #7C062E;




    --cor-tema: var(--pretoAbsoluto);


    
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    scroll-behavior: smooth;

}

.todo-corpo {
    align-items: center;
    background-color: var(--pretoAmeno);
    color: var(--brancoAbsoluto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.secao-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 1rem 0.1rem;
    flex-wrap: wrap;
}

h2 {
    font-weight: 800;
}

h3 {
    font-size: 0.5rem;
    text-transform: uppercase;
}

.botoes {
    background-color: var(--vermelhoAbsoluto);
    border: none;
    color: var(--brancoAbsoluto);
    font-size: 0.6rem;
    font-weight: bolder;
    height: 50px;
    margin: 0.25rem;
    width: 50%;
}
