:root {
    --brancoAbsoluto: #FFFFFF;
    --brancoCintilante: #FEFEFE;
    --brancoAmeno: #F8F8FF;
    --brancoAmenoTransparente: #F8F8FFAA;
    
    --pretoAbsoluto: #000000;
    --pretoCintilante: #010101;
    --pretoAmeno: #1C1C1C;
    --pretoAmenoTransparente: #1C1C1CAA;

    --vermelhoCintilante: #ED145B;
    --vermelhoCintilanteTransparente: #ED145BAA;
    --vermelhoAmeno: #AB2232;
    --vermelhoAmenoTransparente: #AB2232AA;


    font-family: 'ag-regular', sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

::webkit-scrollbar {
    width: 0px;
}



@font-face {
    font-family: 'sanssonder';
    src: url('/assets/fonts/sanssonder-bold.otf');
}

@font-face {
    font-family: 'sanssonder rough';
    src: url('/assets/fonts/sanssonder-boldrough.otf');
}

@font-face {
    font-family: 'slabsonder';
    src: url('/assets/fonts/slabsonder-bold.otf');
}

@font-face {
    font-family: 'slabsonder rough';
    src: url('/assets/fonts/slabssonder-boldrough.otf');
}


@font-face {
    font-family: 'ag light';
    src: url('/assets/fonts/akzidenzgrotesk-light.otf');
}

@font-face {
    font-family: 'ag regular';
    src: url('/assets/fonts/akzidenzgrotesk-regular.otf');
}

@font-face {
    font-family: 'ag bold';
    src: url('/assets/fonts/akzidenzgrotesk-bold.otf');
}

@font-face {
    font-family: 'ag black';
    src: url('/assets/fonts/akzidenzgrotesk-black.otf');
}

@font-face {
    font-family: 'ag lightblack';
    src: url('/assets/fonts/akzidenzgrotesk-lightblack-.otf');
}



.all {
    box-sizing: border-box;
    align-items: center;
    background-color: var(--pretoAmeno);
    color: var(--brancoAbsoluto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    margin-top: 4rem;
}

.addBlur {
    filter: blur(20px);
    z-index: 0;
    transition: .5s;
}

.cont-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem 0.1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.allButtons {
    font-family: 'sanssonder rough';
    background-color: var(--pretoAmeno);
    border: none;
    color: var(--brancoCintilante);
    font-size: 0.8rem;
    height: 2rem;
    width: 50%;
}
