.skills__cards__item {
	align-items: center;
	background-color: var(--pretoAbsoluto);
	border-radius: 10%;
	box-sizing: border-box;
	color: var(--brancoAmeno);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.25rem;
	max-height: 250px;
	max-width: 175px;
	min-height: 125px;
    min-width: 150px;
	padding: 0.5rem;
}

.skills__cards__item h3 {
	font-family: 'Abel', sans-serif;
	font-weight: bolder;
}