.inicio__scroll {
    margin: 0.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
}

#inicio__scroll__texto {
    color: var(--vermelhoAmeno);
    font-family: 'Confortaa', Impact, sans-serif;
    font-size: 0.8rem;
    line-height: 2rem;
}

#inicio__scroll__seta {

}