.menu__navigation--hidden {
    display: none;
    opacity: 0;
}

.menu__navigation--show {
    height: 85vh;
    width: 95%;
    opacity: 1;
    margin: 1rem auto;
    background-color: var(--vermelhoAmenoTransparente);
    
}


    .navigation__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        justify-content: space-between;

    }

    #navigation__list--div-end {
        height: 20%;
    }

    .navigation__list--title {
        font-family: 'slabsonder';
        color: var(--vermelhoCintilante);
        font-size: 2rem;
        margin: 1rem auto;
        text-align: center;
    }

    .navigation__list--content {
        font-family: 'ag bold';
        color: var(--pretoCintilante);
        font-size: 0.8rem;
        margin: 1rem auto;
        text-align: center;
        text-transform: none;
    }

    #navigation--go-to-AbnerAndrade {
        margin: 1rem auto;
        text-transform: uppercase;
        font-family: 'ag black';
        text-align: center;
        font-size: 1rem;
        color: var(--vermelhoCintilante);
    }
