.menu__navigation {
    height: 85vh;
    width: 95%;
    margin: 1rem auto;
    overflow: hidden;
    background-color: var(--vermelhoAmenoTransparente);
}

.menu__navigation--hidden {
    transform: translateY(-2rem) translateX(6rem);
    width: 0;
    height: 0;
    
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.menu__navigation--show {
    opacity: 1;
    transform: translateY(0px);
    transition: all .5s ease-in-out;
    
}


    .navigation__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0.5em;
        box-sizing: border-box;
        justify-content: space-between;

    }

    #navigation__list--div-end {
        height: 20%;
    }

    .navigation__list--title {
        font-family: 'slabsonder';
        color: var(--vermelhoCintilante);
        font-size: 2em;
        margin: .25em auto;
        text-align: center;
    }

    .navigation__list--content {
        font-family: 'ag bold';
        color: var(--pretoCintilante);
        font-size: .8em;
        margin: 1em auto;
        text-align: center;
        text-transform: none;
    }

    #navigation--go-to-AbnerAndrade {
        margin: 1rem auto;
        text-transform: uppercase;
        font-family: 'ag black';
        text-align: center;
        font-size: 1.25em;
        color: var(--vermelhoCintilante);
    }

    #navigation--go-to-AbnerAndrade:active {
        transform: translateX(1rem) ;
        transition: all 1s ease-out;
    }


