.inicio__foto {
    position: relative;
}

.inicio__foto::before {
    animation: spin 3s linear infinite;
    border: 6px solid var(--vermelhoAbsoluto);
    border-bottom-color: var(--vermelhoAbsoluto);
    border-radius: 50%;
    border-top-color: var(--vermelhoAbsoluto);
    content: "";
    position: absolute;
    width: 50%;
}

#inicio__foto__imagem {
    border-radius: 70%;
    display: block;
    height: 200px;
    margin-top: 0.5rem;
    position: relative;
    width: 200px;
}