#contato__links-container {
    
}

.contato__links__lista {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contato__links__lista__item {
    text-align: center;
    
}

.contato__links__lista__item__imagem {
    margin: 0.25rem;
    width: 60%;
}