.formacao__secao__lista {
    box-sizing: border-box;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(300px,max-content));
    gap: 32px 16px;
}

.formacao__secao__lista li {
    text-align: center;
    width: 100%;
}