.cont-main__background-animation {
    display: flex;
    max-width: 100vw;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    top: 1;
    z-index: -1;
}

.background-animation--file {
    width: 100vw;
}


@media screen and (min-width: 481px) {

    .background-video--file {
        overflow-y: hidden;
    }

}

@media screen and (min-width: 769px) {

    .background-video--file {
        overflow-y: hidden;
    }

}
