.main__projects {
    min-width: 100%;
    min-height: 736px;
    justify-content: flex-end;
}

.main__projects h2 {
    opacity: 0;
}

.trigger__title {
    text-transform: uppercase;
}

.projects__card--acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 1rem;
    transition: .50s;
}

.trigger__title {
    font-family: 'slabsonder rough';
}

.showAcordeon {

}

.projects__card--acordeon:hover {
    background-color: var(--vermelhoAmeno);
    border-color: var(--vermelhoCintilante);
}

.card__trigger {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    color: var(--brancoAmeno);
    border: none;
}

.projects__card--acordeon .card__content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .50s ease-in-out;
}

.showAcordeon .card__content {
    display: block;
    padding: 1rem;
    height: auto;
    opacity: 1;
}


.card__content--screenshot {
    width: 100%;
}

.card__content--brief {
    font-family: 'ag black';
    font-size: 1em;
    color: var(--pretoAmenoTransparente);
    text-align: center;
    margin: .5rem auto;
}


.card__content--btts {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.card__button--repo, .card__button--page {
    width: 40%;
    text-align: center;
    padding: .25rem;
    line-height: 2rem;
}







@media screen and (min-width: 1024px) {
    
    .main__projects { 
        min-height: auto;
        align-items: flex-end;
    }


    .projects__card--acordeon {
        width: 80%;
        margin: 0;
    }

    .projects__card--acordeon:hover {
        background-color: var(--vermelhoCintilanteTransparente);
        border-color: transparent;
    }

    .showAcordeon {
        background-color: var(--vermelhoCintilanteTransparente);
        color: var(--brancoAmeno);
    }

    .card__trigger {
        color: var(--vermelhoAmeno);
    }

    .showAcordeon .trigger__title {
        color: var(--brancoAmeno);
    }

    .showAcordeon .card__content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 0;
    }

    .card__trigger:hover {
        color: var(--brancoAmeno);
        font-size: 1.4rem;
        transition: all .50s cubic-bezier(0.65, 0.05, 0.36, 1);
    }


    .navigation__list--title {
        font-size: 1em;
    }

    .card__content--screenshot {
        width: 50%;
        
        aspect-ratio: 16/11;
    }

    .card__content--area {
        padding: 0 .5em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 40%;
    }

    .card__content--btts {
        padding: 0;
    }
    
    

    
}


