.cont-main__background-video {
    display: flex;
    max-width: 100vw;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    top: 1;
    z-index: -1;
}

.background-video--file {
    width: 100vw;
}


@media screen and (min-width: 480px) {

    .background-video--file {
        
    }

}
