.cont-header {
    text-transform: uppercase;
    width: 100%;
    z-index: 3;
    position: fixed;
}

.cont-header__menu {
    width: 100%;
    position: fixed;
    background-color: var(--pretoAmenoTransparente);
    top: 0;
}

    .menu__back--link {
        display: flex;
        box-sizing: border-box;
        color: var(--vermelhoAmeno);
        font-size: 1rem;
        width: 40%;
        height: 2rem;
        padding-left: 0.5rem;
        align-items: flex-end;
    }    

    .menu__back--ico {
        padding-right: .5rem;
    }

    .menu__back--title {
        font-family: 'slabsonder rough';
    }

    
