.sec-overview { 
    padding: 0 0.1rem;
    position: relative;
}

.sec-overview__photo {
    background-color: transparent;
    width: 40%;
    margin: 1rem auto;
}

    .sec-overview__photo--div {
        max-width: 230px;
        position: relative;
    }

    .sec-overview__photo--div::before {
        animation: spin 5s linear infinite;
        border: 6px solid transparent;
        border-top-color: var(--vermelhoAmenoTransparente);
        border-bottom-color: var(--vermelhoAmeno);
        border-radius: 50%;
        content: "";
        inset: -10px;
        position: absolute;
    }

    .sec-overview__photo--img {
        display: block;
        border-radius: 50%;
        margin-top: 1.2rem;
        width: 100%;
    }

    @keyframes spin {
        to{transform: rotate(360deg);}
    }


.sec-overview__text {
    height: 45%;
    padding: 0.5rem 0.5rem;
    color: var(--vermelhoAmenoTransparente);
}
    
    #sec-overview__text--title {
        color: var(--brancoCintilante);
        text-transform: uppercase;
        font-family: 'slabsonder rough';
        font-size: 1.5rem;
        text-align: center;
    }
    
    #sec-overview__text--subtitle {
        color: var(--vermelhoAmeno);
        font-family: 'ag bold';
        font-size: 1.25rem;
        text-align: center;
        transition-property: font-size;
        transition-duration: 3s;
        transition-delay: 1s;
    }
    
    #sec-overview__text--subtitle:hover {
        font-size: 1rem;
    }
    
    
    #sec-overview__text--resume {
        font-family: 'ag black';
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem 0;
    }
    
    #sec-overview__text--resume strong {
        font-size: 1rem;
  
    }
    
