.sec-resume {
    background-color: var(--pretoAmeno);
}

.sec-resume .cont-section__content {
    font-size: .8em;
    line-height: .9em;
}

.sec-resume .cont-section__content strong {
    font-family: 'ag lightblack';
    font-size: 1em;
    
}

.sec-resume__animatedtext {
    color: var(--brancoAmenoTransparente);
    margin: 0.5em 0;
    min-height: 10em;
}