.sec-contact {
    background-color: var(--brancoAmenoTransparente);
    height: 90vh;
    display: flex;
}

.sec-contact .cont-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.sec-contact__content--form {

}

.sec-contact__content--form input {
    border: none;
    height: 1.25rem;
    padding: .5rem;
    border-bottom: 1px solid var(--vermelhoAmenoTransparente);
}