.sec-overview { 
    background: linear-gradient(180deg, 
        var(--vermelhoCintilanteTransparente) 0%, 
        var(--vermelhoAmenoTransparente) 100%);
    box-sizing: border-box;
}


.sec-overview__intro {
    padding-top: 1rem;
}

    .intro__photo {
        width: 50%;
        margin: 1rem auto;
    }

        .intro__photo--div {
            max-width: 230px;
            position: relative;
        }

        .intro__photo--div::before {
            animation: spin 9s linear infinite;
            border: 6px solid transparent;
            border-top-color: var(--brancoCintilante);
            border-bottom-color: var(--brancoAmeno);
            border-radius: 50%;
            content: "";
            inset: -10px;
            position: absolute;
        }

        .intro__photo--img {
            display: block;
            border-radius: 50%;
            margin-top: 1.2rem;
            width: 100%;
        }

        @keyframes spin {
            to{transform: rotate(360deg);}
        }


    .intro__text {
        padding: 0.5rem 0.5rem;
        color: var(--brancoAmeno);
    }
        
        #intro__text--title {
            color: var(--brancoCintilante);
            text-transform: uppercase;
            font-family: 'slabsonder rough';
            font-size: 1.5rem;
            text-align: center;
        }
        
        #intro__text--subtitle {
            color: var(--brancoAmeno);
            font-family: 'ag bold';
            font-size: 1.25rem;
            text-align: center;
            transition-property: font-size;
            transition-duration: 3s;
            transition-delay: 1s;
        }
        
        #intro__text--subtitle:hover {
            font-size: 1rem;
        }
        
        
        #intro__text--resume {
            font-family: 'ag black';
            font-size: 0.9rem;
            text-align: center;
            padding: 0.5rem 0;
        }
        
        #intro__text--resume strong {
            font-size: 1rem;
    
        }

        #intro__text--resume strong::before {
            
        }
    
.sec-overview__social {
    width: 100%;
}
    .sec-overview__social--list {
        display: flex;
        justify-content: space-evenly;
        color: var(--brancoAmeno);
        font-size: 2rem;
    }

.sec-overview__scroll {
    font-family: 'ag black';
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--vermelhoCintilante);
    padding: 0.5rem 0;
}

    .sec-overview__scroll--text {
        margin: 0.25rem auto;
    }

.sec-overview__video {
    display: flex;
    max-width: 100vw;
    opacity: .5;
    overflow: hidden;
    position: fixed;
    top: 2rem;
    z-index: -1;
    height: 100vh;

}
