
.sec-faculties {
    display: inline-table;
    box-sizing: border-box;
    text-align: -webkit-center; 
}

.sec-faculties .cont-section__content {
    width: 90%;
    height: 75%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trigger__title {
    text-transform: uppercase;
    font-size: 1em;
}

.sec-faculties__card--acordeon {
    display: flex;
    border: 2px solid var(--vermelhoAmeno);
    flex-direction: column;
    width: 100%;
    margin: .6em auto;
    border-radius: .5rem;
    transition: .5s;
}

.trigger__title {
    font-family: 'slabsonder rough';
}

.showAcordeon i {
    transform: rotate(180deg);
    transition: 1s;
}

.sec-faculties__card--acordeon:hover {
    background-color: var(--vermelhoAmeno);
    border-color: var(--vermelhoAmenoTransparente);
}

.card__trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    padding: 0.75em 1em;
    background-color: transparent;
    color: var(--brancoAmeno);
    border: none;
}

.sec-faculties__card--acordeon .card__content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.showAcordeon .card__content {
    display: block;
    height: auto;
    opacity: 1;
}



        .sec-faculties__card__content__list-techs {
            display: grid;
            gap: .5rem .5rem;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            word-wrap: break-word;
        }

                .list-techs__item {
                    align-items: center;
                    background-color: var(--pretoAmeno);
                    border-radius: 5%;
                    box-sizing: border-box;
                    color: var(--brancoAmeno);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin: 0.15rem;
                    min-width: 140px;
                    width: 100%;
                    max-width: 160px;
                    min-height: 140px;
                    height: 90%;
                    max-height: 160px;
                    padding: .1rem 0.25rem;
                }

                .list-techs__item img {
                    max-width: 80%;
                    vertical-align: middle;
                }

                .list-techs__item h4 {
                    font-family: 'ag lightblack';
                }

        

        .sec-faculties__card__content__list-skills {
            color: var(--brancoAmeno);
            font-family: 'ag bold';
            font-size: .8rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

            .sec-faculties__card__content__text-skills {
                color: var(--brancoAmeno);
                margin: .5rem auto;
                padding: .5rem;
                font-family: 'ag lightblack';
            }
        


        .sec-faculties__card__content__list-projects {
            display: grid;

        }

        .list-projects__item {
            padding: .5rem;
            text-align: right;
            border-top: 1px solid var(--pretoAmenoTransparente);
        }
            
            .list-projects__item h4 {
                font-family: 'slabsonder rough';
                color: var(--brancoAmeno);
            }

            .list-projects__item p {
                font-family: 'ag black';
                color: var(--brancoAmeno);
            }

            .list-projects__item--btts {
                padding: .5rem 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
            
            }
            
            .card__button--repo, .card__button--page {
                width: 40%;
            }

        .sec-faculties__card__content__list-education {
            display: grid;
            gap: .5rem .5rem;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            word-wrap: break-word;
        }

            .list-education__item {
                align-items: center;
                
                border-radius: 5%;
                box-sizing: border-box;
                color: var(--brancoAmeno);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0.15rem;
                max-height: 250px;
                max-width: 175px;
                min-height: 10px;
                min-width: 100px;
                padding: .1rem 0.25rem;
            }

            .list-education__item img {
                max-width: 80%;
                border-radius: 5%;
                
            }

            .list-education__item h4 {
                font-family: 'ag lightblack';
            }
          
        
            
        .list-languages__item {
            margin: 1rem auto;
        }

            .list-languages__item h4 {
                font-family: 'ag bold';
                color: var(--brancoAmeno);
            }


        .sec-faculties__card__content__list-experiences {
            color: var(--brancoCintilante);
            margin-bottom: 1rem;
        }

            .sec-faculties__card__content__list-experiences dt {
                font-family: 'ag bold';
                text-transform: uppercase;
                font-size: .6rem;
                margin-top: 1rem;
                margin-bottom: .5rem;
                
            }

            .sec-faculties__card__content__list-experiences dd {
                font-size: .7rem;
                font-family: 'ag bold';
                color: var(--brancoAmenoTransparente);
            }


            .list-services__item {
                margin-bottom: 1rem;
            }

            .list-services__item h4 {
                font-family: 'slabsonder';
            }

.sec-faculties .cont-section__scroll {
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: 100%;
    box-sizing: content-box;
}

