.sec-contact {
    background-color: var(--brancoAmenoTransparente);
    min-height: 96vh;
    display: flex;
}

.sec-contact .cont-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 96%;
    color: var(--pretoAmenoTransparente);
    font-family: 'ag black';
}

.sec-contact__content__form {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem .5rem;
}

.sec-contact__content__form--fieldarea {
    margin: 1rem auto;
    box-sizing: border-box;
}

.sec-contact__content__form--fieldarea input, textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 3rem;
    padding: .5rem;
    border-bottom: 1px solid var(--vermelhoAmenoTransparente);
    background-color: transparent;
}

.sec-contact__content__form--fieldarea span {
    font-size: .6rem;
    font-family: 'ag regular';
    color: var(--vermelhoAmeno);
}

