.sec-contact {
    background: linear-gradient(180deg, 
        var(--brancoAbsoluto) 0%, 
        var(--brancoAmeno) 48%, 
        var(--brancoAmenoTransparente) 100%);
    height: 96vh;
    display: flex;
}

.sec-contact .cont-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: var(--pretoAmenoTransparente);
    font-family: 'ag black';
}

.sec-contact__content__form {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: .5em .5em;
}

.sec-contact__content__form--fieldarea {
    margin: .5em auto;
    box-sizing: border-box;
}

.sec-contact__content__form--fieldarea input, textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 2em;
    padding: .5em;
    border-bottom: 1px solid var(--vermelhoAmenoTransparente);
    background-color: transparent;
    font-family: 'ag bold';
}

.sec-contact__content__form--fieldarea span {
    font-size: .6em;
    text-align: end;
    width: 100%;
    display: inline-block;
    font-family: 'ag regular';
    color: var(--vermelhoAmeno);
}

.sec-contact__content--cv {
    height: 1em;
}

.sec-contact__content--cv h3 {
    font-family: 'slabsonder rough';
    font-size: 1em;
    color: var(--brancoAbsoluto);
    background-color: var(--vermelhoCintilante);
    padding: .5em;
}

.sec-contact__content--list {
    font-size: .8em;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec-contact__content--list li {
    margin-bottom: .5em;
}

.sec-contact__content--list h4 {
    display: none;
}

.sec-contact__content--list i::before {
    margin-bottom: .5em;
}

@media screen and (min-width: 1024px) {
    
    .sec-contact .cont-section__content {
        width: 80%;
    }

    .sec-contact__content__form--fieldarea {
        margin: 0;
    }

    .sec-contact__content--list {
        flex-direction: row;
        height: 20%;
    }

}